<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ladyBees | learn to spell</title>
    <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<body>

    <header>
        <h2><span id="score">0</span> of <%= number %></h2>
        <h3><%= name %></h3>
        <h5><%= difficulty %></h5>
    </header>

    <main>
        <% words.forEach(word => { %>
        <div id="div<%= word.id %>" class="hidden">
            <!--Sentence-->
            <h1>
                <%= word.sentence %>
            </h1>

            <button id="hearWord">repeat word</button>
            <button id="hearSentence">use in a sentence</button>

            <!--Text input-->
            <form id="form<%= word.id %>">
            <input type="hidden" id="word<%= word.id%>" value="<%= word.word %>">
            <input type="text" name="spelledWord" id="spell<%= word.id %>" placeholder="Spell word here" required/>
            </form>
        </div>
        <% }); %>

        <section id="final" class="hidden">
            <h1 id="winOrLose"></h1>
            <h3>Click here to save your score.</h3>
        </section>

    </main>

</body>
<footer>
    <script
            src="https://code.jquery.com/jquery-3.4.0.min.js"
            integrity="sha256-BJeo0qm959uMBGb65z40ejJYGSgR7REI4+CW1fNKwOg="
            crossorigin="anonymous"></script>
    <script src="/jquery.js"></script>
</footer>
</html>